<!DOCTYPE html>
<html ng-app="fullstack">

<head>
    <meta charset="utf-8">
    <title>Home!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>

<body ng-controller="homeController as homeCtrl">
    <h1>Home!</h1>
    <input type="text" ng-model="message">
    <label>{{message}}</label>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="config/urlSettingsFactory.js"></script>
    <script type="text/javascript" src="services/homeService.js"></script>
    <script type="text/javascript" src="controllers/homeController.js"></script>
</body>

</html>